<div class="grid grid-cols-12">
  <div class="flex-form">
    <form enctype="multipart/form-data" (ngSubmit)="idUpdate === null ? CreateProduct() : UpdateProduct()"
      class="size-form" [formGroup]="productForm">
      <div class="border-b w-full">
        <h1 class="title-form">
          {{ idUpdate === null ? "CREATE" : "UPDATE" }}
        </h1>

        <input type="text" formControlName="id" hidden>

        <div *ngFor="let product of detailProductss" class="">
          <div class="grid grid-cols-12">
            <span class="input-span">{{product.name}}</span>
            <input [type]="product.type" class="form-control input-form" [formControlName]="product.controlName" />
          </div>

          <div *ngFor="let error of product.error" class="size-small">
            <small
              *ngIf="productForm.controls[product.controlName].dirty &&productForm.hasError(error.key, product.controlName)"
              class="small-error-form">
              {{error.message}}</small>
          </div>
        </div>

        <div class="grid grid-cols-12">
          <span class="input-span">Author</span>
          <select formControlName="authorId" class="form-control input-form">
            <option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</option>
          </select>
        </div>

        <div class="grid grid-cols-12">
          <span class="input-span">Category</span>
          <select formControlName="categoryId" class="form-control input-form">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>

        <div class="grid grid-cols-12" *ngIf="idUpdate">
          <span class=" input-span">Product Image</span>
        </div>

        <div class="grid grid-cols-12 ml-3 " >
          <div class="col-span-2 w-full mr-2" *ngFor="let image of productImages">
            <img class="h-16 " [src]="image.imageUrl">
            <button type="button" (click)="DeleteProductImage(image.id)" class="m-2"><i class="fa-solid fa-trash text-red-700 "></i>
            </button>
          </div>
        </div>


        <div class="grid grid-cols-12 mt-4" >
          <span class="input-span">Add New Image:</span>
          <input class="form-control input-form" #fileInput type="file" (change)="onFileSelected($event)" accept=".jpg,.png,.gif" multiple>
        </div>

        <div class="grid grid-cols-12 mt-4" >
          <span class="input-span">Selected Images:</span>
          <div class="form-control input-image-form" *ngIf="selectedImages.length > 0; else NoImage">
            <span *ngFor="let imageName of selectedImageNames;let i = index">{{ imageName }}
              <button (click)="RemoveImage(i)"><i class="fa-solid fa-trash text-red-700 "></i> </button> , &nbsp;
            </span>
          </div>
          <ng-template #NoImage>
            <span  class="text-red-700  form-control input-image-form">No Image Selected</span>
          </ng-template>
        </div>



        <!-- BUTTON -->
        <div class="flex flex-col xss:flex-row items-center justify-center m-5">

          <div class="p-3">
            <button [disabled]="productForm.invalid" type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">
                {{ idUpdate === null ? "Create" : "Update" }}</span>
            </button>
          </div>

          <div class="p-3  ">
            <button [routerLink]="['/admin', { outlets: { detail: ['productAdmin'] } }]" type="button"
              class="button-back">
              <span class="mr-2">
                <i class="fas fa-arrow-left hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">Back</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
