<!-- breadcrumb -->
<div *ngIf="product ">
  <div class="container-fluid py-4 flex items-center gap-3">
    <a href="../index.html" class="text-primary text-base">
      <i class="fa-solid fa-house"></i>
    </a>
    <span class="text-sm text-gray-400">
      <i class="fa-solid fa-chevron-right"></i>
    </span>
    <p class="text-gray-600 font-medium">Product</p>
  </div>
  <!-- ./breadcrumb -->

  <!-- product-detail -->
  <div class="container-fluid grid grid-cols-2 gap-6">
    <div>
      <img [src]="product.productImages[0].imageUrl" alt="product" class="w-full" />
      <div class="grid grid-cols-5 gap-4 mt-4">
        <img *ngFor="let img of product.productImages" [src]="img.imageUrl" class="w-full cursor-pointer border" />
      </div>
    </div>

    <div>
      <h2 class="text-3xl font-medium uppercase mb-2">{{product.name}}</h2>
      <div class="flex items-center mb-4">
        <div class="flex gap-1 text-sm text-yellow-400">
          <span><i class="fa-solid fa-star"></i></span>
          <span><i class="fa-solid fa-star"></i></span>
          <span><i class="fa-solid fa-star"></i></span>
          <span><i class="fa-solid fa-star"></i></span>
          <span><i class="fa-solid fa-star"></i></span>
        </div>
        <div class="text-base text-gray-500 ml-3">{{product.buyCount}}</div>
      </div>
      <div class="space-y-2">
        <p class="text-gray-800 font-semibold space-x-2">
          <span>Availability: </span>
          <span class="text-green-600">In Stock</span>
        </p>
        <p class="space-x-2">
          <span class="text-gray-800 font-semibold">Brand: </span>
          <span class="text-red-600 font-bold"> {{product.authorName}}</span>
        </p>
        <p class="space-x-2">
          <span class="text-red-600 text-base">#{{product.categoryName}</span>
        </p>
      </div>
      <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
        <p class="text-xl text-primary font-semibold">{{product.price}} $</p>
        <p class="text-base text-gray-400 line-through">{{product.listPrice}} $</p>
      </div>

      <p class="mt-4 text-gray-600">{{product.description}} </p>




      <div class="mt-4">
        <h3 class="text-sm text-gray-800 uppercase mb-1">Quantity</h3>
        <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max">
          <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none" (click)="decreaseQuantity()">-</div>
          <div class="h-8 w-8 text-base flex items-center justify-center">{{ quantity }}</div>
          <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none" (click)="increaseQuantity()">+</div>
        </div>
      </div>

      <div class="mt-6 flex gap-3 border-b border-gray-200 pb-5 pt-5">
        <a (click)="CartUpsertDetail(product)"
          class="bg-primary border border-primary cursor-pointer text-red-500 px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-blue-600 transition">
          <i class="fa-solid fa-bag-shopping"></i> Add to cart
        </a>

      </div>

      <!-- social -->
      <div class="flex gap-3 mt-4">
        <a href="#"
          class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#"
          class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="#"
          class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- ./product-detail -->

  <!-- description -->
  <div class="container-fluid pb-16 pt-16">
    <h3 class="border-b uppercase text-xl border-gray-200 font-roboto text-gray-800 pb-3 font-medium">
      Product details
    </h3>
    <div class="w-3/5 pt-6">
      <div class="text-gray-600">
        <p>
          {{product.description}}
        </p>
      </div>

      <table class="table-auto border-collapse w-full text-left text-gray-600 text-sm mt-6">
        <tr *ngFor="let table of tables">
          <th class="py-2 px-4 border border-gray-300 w-40 font-medium">{{table.name}}</th>
          <th class="py-2 px-4 border border-gray-300">{{table.src}}</th>
        </tr>
      </table>
    </div>
  </div>
  <!-- ./description -->

  <div>
    <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
      Related products
    </h2>
    <div class="grid grid-cols-4 gap-6">
      <div *ngFor="let productR of productRelate" class="bg-white shadow rounded overflow-hidden group">

        <div class="relative">
          <img [src]="productR.imageUrl" alt="product 1" class="w-full" />
          <div
            class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
            <a (click)="loadProduct(productR.id)"
              class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition cursor-pointer"
              title="view product">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>

          </div>
        </div>

        <div class="pt-4 pb-3 px-4 ">
          <a (click)="loadProduct(product.id)" class="cursor-pointer">
            <h4 class="h-20 overflow-hidden  uppercase   font-medium text-xl mb-2 text-gray-800 hover:text-primary transition ">
              {{ product.name }}
            </h4>
          </a>
          <div class="flex items-baseline mb-1 space-x-2">
            <p class="text-xl text-primary font-semibold"> {{ product.price }}</p>
            <p class="text-base text-gray-400 line-through"> {{ product.listPrice }}</p>
          </div>
          <div class="flex items-center">
            <div class="flex gap-1 text-sm text-red-500">
              <span><i class="fa-solid fa-cart-shopping"></i></span>
          </div>
            <div class="text-base text-gray-500 ml-3"> {{ product.buyCount }}</div>
          </div>
        </div>
        <a (click)="CartUpsert(productR)"
          class="block w-full py-1 text-center cursor-pointer text-red-500 bg-primary border border-primary rounded-b hover:bg-transparent hover:text-blue-700 transition">Add
          to cart</a>
      </div>
    </div>

  </div>
</div>
