
  <div class="m-2 text-purple-600 text-base sm:text-2xl ">
    List  Order
  </div>
  <div class=" ">
    <table class="w-full table-auto border-separate">
      <!--TABLE HEADER -->
      <thead>
        <tr>
          <th class="th-table md:hidden">
            -
          </th>

          <th *ngFor="let table of tables" class="th-table">
            {{table.name}}
          </th>

          <th class="th-table hidden md:table-cell">
            -
          </th>
        </tr>
      </thead>
      <!--TABLE HEADER -->
      <tbody>
        <!-- BODY TABLE-->
        <ng-container *ngIf="orders.length > 0; else noData">
          <tr *ngFor="let order of orders">
            <!--CONTENT DETAIL UPDATE DELETE <768PX -->

            <td class="pl-2 border border-slate-400 md:hidden">
              <a class="fa fa-eye mr-2 text-sm text-blue-700" title="Detail">
              </a>
            </td>

            <!-- LIST DATA TABLE -->

            <td class="td-table">
              {{ order.orderHeaderId }}
            </td>
            <td class="td-table">
              {{ order.name }}
            </td>

            <td class="td-table">
              {{ order.email }}
            </td>
            <td class="td-table">
              {{ order.phone }}
            </td>

            <td class="td-table">
              {{ order.address }}
            </td>
            <td class="td-table">
              {{ order.status }}
            </td>
            <td class="td-table">
              {{ order.orderTotal }}
            </td>

            <!--CONTENT DETAIL UPDATE DELETE > 768PX -->

            <td class="pl-2 border border-slate-400 hidden md:table-cell">
              <a  [routerLink]="['/order', order.orderHeaderId]" class="fa fa-eye mr-2 text-sm text-blue-700" title="Detail">
              </a>

            </td>

          </tr>
        </ng-container>

        <!-- NO DATA -->
        <ng-template #noData>
          <tr>
            <td colspan="4" class="">No data available</td>
          </tr>
        </ng-template>
        <!-- NO DATA -->

      </tbody>
    </table>


    <!--SHOWING DETAIL PAGE-->
    <div class="text-sm md:text-base0 my-2">
      Showing
      <span class="showing-table">
        {{ recordPerPage }}
      </span>
      records of Page
      <span class="showing-table">
        {{ currentPage }}
      </span>
      in Total
      <span class="showing-table">
        {{ recordsTotal }}
      </span>
      records
    </div>
    <!--SHOWING DETAIL PAGE-->

    <!-- BUTTON SWITCH BUTTON -->
    <button class="prenext-table" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
      Previous
    </button>

    <ng-container *ngFor="let page of getPagesArray()">
      <button class="page-table" (click)="changePage(page)" [disabled]="currentPage === page">
        {{ page }}
      </button>
    </ng-container>

    <button class="prenext-table" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
      Next
    </button>

  </div>



