<div class="grid grid-cols-12">
  <div class="col-span-12 lg:col-span-7">
    <form class="size-form" [formGroup]="orderForm" novalidate>
      <div class="border-b w-full">
        <h1 class="title-form">
          SHIPPING  ORDER
        </h1>

        <div *ngFor="let details of detailOrders" class="">
          <div class="grid grid-cols-12">
            <span class="input-span">{{details.name}}</span>
            <input type="text" class="form-control input-form" [formControlName]="details.controlName" />
          </div>

          <div *ngFor="let error of details.errors" class="size-small ">
            <small *ngIf="
            orderForm.controls[details.controlName].dirty &&
            orderForm.hasError(error.key, details.controlName) " class="small-error-form">
              {{error.message}}
            </small>
          </div>
        </div>

        <!-- BUTTON -->
        <div class="flex flex-col xss:flex-row items-center justify-center m-5">

          <div class="p-3">
            <button (click)="UpdateOrder()" [disabled]="orderForm.invalid" type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">  Update</span>
            </button>
          </div>

          <div class="p-3  ">
            <button [routerLink]="['/order']" type="button" class="button-back">
              <span class="mr-2">
                <i class="fas fa-arrow-left hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">Back</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-span-12 lg:col-span-5">
    <form class="size-form" [formGroup]="orderForm" novalidate>
      <div class="border-b w-full">
        <h1 class="title-form">
          DETAIL ORDER
        </h1>


        <div *ngFor="let order of detailOrderDto" class="grid grid-cols-12 mb-2">
          <img class="w-full col-span-2 md:col-span-1" [src]="order.product!.imageUrl">
          <div class="col-span-10 md:col-span-7 font-bold text-base0">{{order.productName}}</div>
          <div class="col-span-12 md:col-span-4 text-base0 text-end">
            <span>{{order.price}}$ x {{order.count}}</span>
            <span *ngIf="order.price && order.count" class="ml-5  font-bold">{{ order.price * order.count }}$</span>
          </div>


        </div>

        <!-- BUTTON -->
        <div class="flex flex-col xss:flex-row items-center justify-center m-5">
          <div *ngIf="status == 'Pending'" class="p-5">
            <button  (click)="CreateStripeSession()"  type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center"> Pay Bill</span>
            </button>
          </div>
          <div *ngIf="status == 'Paid'" class="p-5">
            <button (click)="UpdateOrderStatus('Shipping')"  type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center"> Shipping</span>
            </button>
          </div>
          <div *ngIf="status == 'Shipping'" class="p-5">
            <button (click)="UpdateOrderStatus('Received')"  type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center"> Received</span>
            </button>
          </div>
          <div *ngIf="status == 'Received'" class="p-5">
            <button (click)="UpdateOrderStatus('Cancelled')"  type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center"> Cancelled</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
