<!-- login -->
<div class="contain py-16">
  <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
    <h2 class="text-2xl uppercase font-medium mb-1">Create an account</h2>
    <p class="text-gray-600 mb-6 text-base">
      Register for new customer
    </p>
    <form [formGroup]="userForm" (ngSubmit)="Register()">
      <div class="space-y-2">
        <!-- Email -->
        <div>
          <label class="text-gray-600 mb-2 block">Email</label>
          <input type="text"
            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
            placeholder="Email" formControlName="email" (change)="onCheckEmail()">
        </div>

        <div class="text-red-600">
          <small *ngIf="userForm.hasError('emailExists', 'email')" class="">
            <span>{{ this.emailMessageError }}</span>
          </small>
        </div>
        <div class="text-red-600">
          <small *ngIf=" userForm.controls['email'].dirty &&userForm.hasError('required', 'email')" class="">
            <span>Email is required</span>
          </small>
        </div>

        <!-- Password -->
        <div class="relative">
          <label class="text-gray-600 mb-2 block">Password</label>
          <input [type]="type" type="text"
            class="   w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
            placeholder="Password" formControlName="password">
          <span (click)="hideShowPass()" class="fa {{
              eyeIcon
            }} right-0 bottom-1 absolute z-10 cursor-pointer text-ssm sm:text-base"></span>
          <div *ngFor="let error of passwordErrors" class="flex ">
            <small *ngIf="
                             userForm.controls[error.name].dirty &&
                             userForm.hasError(error.key, error.name)
                           " class="text-red-600">
              {{error.message}}
            </small>
          </div>
        </div>


        <!-- Input Other -->
        <div *ngFor="let field of inputOther">
          <label class="text-gray-600 mb-2 block">{{field.placeholder}}</label>
          <input [type]="field.type"
            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
            [placeholder]="field.placeholder" [formControlName]="field.name">
          <div *ngFor="let error of field.errors" class="flex ">
            <small *ngIf="
                           userForm.controls[field.name].dirty &&
                           userForm.hasError(error.key, field.name)
                         " class="text-red-600">
              {{error.message}}
            </small>
          </div>
        </div>

        <div>
          <label class="text-gray-600 mb-2 block">Role</label>
          <select class="block w-full border border-gray-300 px-4 py-3" formControlName="role">
            <option value="Admin">Admin</option>
            <option value="Customer">Customer</option>
            <option value="Company">Company</option>
          </select>
          <div class="text-red-600">
            <small *ngIf=" userForm.controls['role'].dirty &&userForm.hasError('required', 'role')" class="">
              <span>Role is required</span>
            </small>
          </div>
        </div>

        <!-- login with -->
        <div class="mt-8 flex justify-center relative ">
          <div class="text-gray-600 uppercase px-3 bg-white z-10 relative">Or signup with</div>
          <div class="absolute left-0 top-3 w-full border-b-2 border-gray-200"></div>
        </div>


        <div class="mt-8">
          <button [disabled]="userForm.invalid" type="submit"
            class="block w-full py-2 text-center bg-blue-500 text-white  border  rounded hover:bg-transparent
            hover:text-blue-500 transition uppercase font-roboto font-medium  disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400">
            create account</button>
        </div>
      </div>

    </form>


    <p class="mt-4 text-center text-gray-600">Already have account? <a routerLink="/login" class="text-blue-500 font-bold underline">Login
        now</a></p>
  </div>
</div>
<!-- ./login -->
