@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

.button-submit{
  @apply block cursor-pointer w-full py-3 px-4 text-center text-red-500  border border-gray-400 rounded-md hover:bg-transparent hover:text-blue-700 transition font-medium uppercase disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400
}


.flex-box{
  @apply flex col-start-2 col-span-10 xsm:col-start-3 xsm:col-span-8 md:col-start-4 md:col-span-6 l:col-start-5 l:col-span-4
}

.form-size-box{
  @apply w-full  border rounded mt-10 p-3 bg-gradient-to-r from-indigo-300 to-violet-400
}
.box-seperate{
  @apply text-center font-bold text-base xs:text-xl md:text-2xl mb-2 border-b-2 border-b-slate-500
}
.input-form{
  @apply col-span-12  xsm:col-span-9 mt-2 text-center h-8 xsm:w-full text-sm sm:text-base0 focus:outline-none focus:ring-2 focus:ring-violet-800
}

.input-image-form{
  @apply col-span-12  xsm:col-span-9 mt-2  h-8 xsm:w-full text-sm sm:text-base0
}

.input-span{
  @apply col-span-12 xsm:col-span-3 p-2 text-center xsm:w-full  xs:block mt-2 text-sm sm:text-base0 font-bold
}

.image-span{
  @apply col-span-4 font-bold xsm:col-span-3 text-sm sm:text-base0 text-center xsm:w-full  xs:block mt-2 mb-0
}

.image-form{
  @apply col-span-8  xsm:col-span-9 mt-2 text-center  xsm:w-full
}




.select-form{
  @apply w-full text-sm sm:text-base0 h-8 focus:outline-none focus:ring-2 focus:ring-violet-800
}

.title-form{
  @apply text-center border-b-2 border-gray-700 text-base xs:text-xl lg:text-2xl font-bold
}

.small-error-form{
 @apply text-red-700 text-center text-base0
}

.small-bigerror-form{
  @apply text-red-700 text-sm xsm:text-base0 md:text-base
 }

.icon-size-form{
  @apply p-2 text-center w-1/4 hidden xs:block
}


/* SIZE */

.flex-form{
  @apply   col-span-12 md:col-start-3 md:col-span-8  l:col-start-4 l:col-span-6
}
.size-form{
  @apply  w-full border rounded p-4 mt-10 bg-gradient-to-r from-violet-300 to-blue-300 md:bg-gradient-to-l
}

.size-small{
  @apply flex items-center justify-center
}

.size-input{
  @apply flex mt-3 items-center justify-center
}

/* BUTTON */
.button-apply{
  @apply bg-blue-500 border border-black hover:text-red-500 hover:bg-white hover:border-red-500 w-16 h-6 xs:w-24 xs:h-7 sm:w-28 sm:h-8 rounded disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400
}

.button-back{
  @apply bg-purple-500 border border-black hover:text-red-500 hover:bg-white hover:border-red-500 w-16 h-6 xs:w-24 xs:h-7 sm:w-28 sm:h-8 rounded
}
.search-input{
  @apply text-sm text-center col-span-6 md:col-span-4 md:text-base0 mr-3 my-3 h-8  border border-slate-400
}
.button-search{
  @apply bg-purple-300 col-span-4 md:col-span-2 l:col-span-1 text-sm md:text-base0 my-3  h-8  hover:bg-red-400  border-slate-400
}

.button-create{
  @apply bg-purple-400 col-span-4 md:col-span-2 l:col-span-1 p-1 mb-2 text-base0 md:text-base0 hover:bg-red-400   border-slate-400
}

/* TABLE */
.th-table{
  @apply px-4 py-2 border bg-violet-300 text-sm md:text-base0 border-slate-400
}

.td-table{
  @apply px-4 py-2 border text-ssm xsm:text-sm border-slate-400
}

.showing-table{
  @apply text-purple-700 font-bold text-base0
}

.prenext-table{
  @apply bg-purple-300 p-1 my-2 text-sm md:text-base hover:bg-white hover:text-red-600 border-slate-400 disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400
}
.page-table{
  @apply p-2 my-2 font-bold text-sm md:text-base hover:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400
}

/* SUB MODAL */
.input-modal-sub{
  @apply  text-center h-8 w-full text-sm sm:text-base0 border-2 border-black focus:outline-none focus:ring-2 focus:ring-violet-800
}

.button-apply-modal-sub{
  @apply text-sm sm:text-base0 bg-purple-500 hover:bg-purple-600 text-white px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 mr-2
}

.button-back-modal-sub{
  @apply text-sm sm:text-base0 bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500
}

.button-del-apply{
  @apply text-sm sm:text-base0 bg-red-600 hover:bg-blue-200 hover:text-black text-white px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 mr-2
}

.button-blue-apply{
  @apply text-sm sm:text-base0 bg-blue-500 hover:bg-blue-200 hover:text-black text-white px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 mr-2
}

.button-del-back{
  @apply text-sm sm:text-base0 bg-gray-200 hover:bg-blue-200 text-gray-700 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500
}
