<div class="grid grid-cols-12">
  <div class="flex-form">
    <form (ngSubmit)="idUpdate === null ? CreateUser() : UpdateUser()" class="size-form" [formGroup]="userForm">
      <div class="border-b w-full">
        <h1 class="title-form">
          {{ idUpdate === null ? "CREATE USER" : "UPDATE USER" }}
        </h1>

        <input  formControlName="id" hidden>
        <!-- Email -->
        <ng-container *ngIf="idUpdate === null">
          <div>
            <label class="text-black mb-2 block">Email</label>
            <input type="text"
              class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-base0 rounded focus:ring-0 focus:border-primary placeholder-gray-400"
              placeholder="Email" formControlName="email" (change)="onCheckEmail()">
            <div class="text-red-700">
              <small *ngIf="userForm.hasError('emailExists', 'email')" class="">
                <span>{{ emailMessageError }}</span>
              </small>
            </div>
            <div class="text-red-700">
              <small *ngIf=" userForm.controls['email'].dirty &&userForm.hasError('required', 'email')"
                class="small-error-form">
                <span>Email is required</span>
              </small>
            </div>
          </div>
        </ng-container>

           <!-- Password -->
        <ng-container *ngIf="idUpdate === null" >
          <div class="relative" >
            <label class="text-gray-600 mb-2 block">Password</label>
            <input [type]="type" type="text"
              class="   w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
              placeholder="Password" formControlName="password">
            <span (click)="hideShowPass()" class="fa {{
              eyeIcon
            }} right-0 bottom-1 absolute z-10 cursor-pointer text-ssm sm:text-base"></span>
            <div *ngFor="let error of passwordErrors" class="flex ">
              <small *ngIf="
                             userForm.controls[error.name].dirty &&
                             userForm.hasError(error.key, error.name)
                           " class="small-error-form">
                {{error.message}}
              </small>
            </div>
          </div>
        </ng-container>

        <!-- Input Other -->
        <div *ngFor="let field of inputOther">
          <label class="text-black mb-2 block">{{field.placeholder}}</label>
          <input [type]="field.type"
            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-base0 rounded focus:ring-0 focus:border-primary placeholder-gray-400"
            [placeholder]="field.placeholder" [formControlName]="field.name">
          <div *ngFor="let error of field.errors" class="flex ">
            <small *ngIf="
                         userForm.controls[field.name].dirty &&
                         userForm.hasError(error.key, field.name)
                       " class="small-error-form">
              {{error.message}}
            </small>
          </div>
        </div>

        <div>
          <label class="text-black mb-2 block">Role</label>
          <select class="block w-full border border-gray-300 px-4 py-3" formControlName="role">
            <option value="Admin">Admin</option>
            <option value="Customer">Customer</option>
            <option value="Company">Company</option>
          </select>
          <div class="text-red-700">
            <small *ngIf=" userForm.controls['role'].dirty &&userForm.hasError('required', 'role')"
              class="small-error-form">
              <span>Role is required</span>
            </small>
          </div>
        </div>


        <!-- BUTTON -->
        <div class="flex flex-col xss:flex-row items-center justify-center m-5">

          <div class="p-3">
            <button [disabled]="userForm.invalid" type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">
                {{ idUpdate === null ? "Create" : "Update" }}</span>
            </button>
          </div>

          <div class="p-3  ">
            <button [routerLink]="['/admin', { outlets: { detail: ['user'] } }]" type="button" class="button-back">
              <span class="mr-2">
                <i class="fas fa-arrow-left hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">Back</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
