<!-- shop wrapper -->
<div class="container-fluid grid md:grid-cols-5 grid-cols-2 gap-6 pt-4 pb-16 items-start">
  <!-- sidebar -->
  <!-- drawer init and toggle -->
  <div class="text-center md:hidden">
    <button
      class="bg-red-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block md:hidden"
      type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example"
      aria-controls="drawer-example">
      <i class="fa-solid fa-bars fa-xl"></i>
    </button>
  </div>
  <!-- drawer component -->
  <div id="drawer-example"
    class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800"
    tabindex="-1" aria-labelledby="drawer-label">
    <h5 id="drawer-label"
      class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg
        class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"></path>
      </svg>Info</h5>
    <button type="button" data-drawer-hide="drawer-example" aria-controls="drawer-example"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="sr-only">Close menu</span>
    </button>

    <div class="divide-y divide-gray-200 space-y-5">
      <div>
        <!-- Categories -->
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Categories</h3>
        <div class="space-y-2">
          <div *ngFor="let category of categories" class="flex items-center">
            <input type="checkbox" name="cat-1" id="cat-1" class="text-primary focus:ring-0 rounded-sm cursor-pointer"
              [checked]="category.id === selectedCategoryId" (change)="onCategoryCheckboxChange(category.id!)">
            <label for="cat-1" class="text-gray-600 ml-3 cusror-pointer">{{category.name}}</label>
          </div>
          <!-- Categories -->
        </div>
      </div>

      <div class="pt-4">
        <!-- Brands -->
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Brands</h3>
        <div class="space-y-2">
          <div *ngFor="let brand of brands" class="flex items-center">
            <input type="checkbox" name="cat-1" id="cat-1" class="text-primary focus:ring-0 rounded-sm cursor-pointer"
              [checked]="brand.id === selectedAuthorId" (change)="onAuthorCheckboxChange(brand.id!)">
            <label for="cat-1" class="text-gray-600 ml-3 cusror-pointer">{{brand.name}}</label>
            <!-- Brands -->
          </div>
        </div>
      </div>

      <!-- PRICE -->
      <div class="pt-4">
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Price</h3>
        <div class="mt-4 flex items-center">
          <input type="text" name="min" [(ngModel)]="minPrice"
            class="w-full border border-black focus:border-primary rounded 0 px-3 py-1 text-gray-600 shadow-sm"
            placeholder="min">
          <span class="mx-3 text-gray-500">-</span>
          <input type="text" name="max" [(ngModel)]="maxPrice"
            class="w-full border border-black focus:border-primary rounded  px-3 py-1 text-gray-600 shadow-sm"
            placeholder="max">
        </div>
        <button (click)="getProductbyAuthorCategory()"
          class="bg-red-400 p-2 mt-2 border border-black hover:bg-blue-800 hover:text-white">Search</button>
      </div>
      <!-- PRICE -->



    </div>

  </div>

  <!-- ./sidebar -->
  <div class="col-span-1 bg-white px-4 pb-6 shadow rounded overflow-hiddenb hidden md:block">
    <div class="divide-y divide-gray-200 space-y-5">
      <div>
        <!-- Categories -->
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Categories</h3>
        <div class="space-y-2">
          <div *ngFor="let category of categories" class="flex items-center">
            <input type="checkbox" name="cat-1" id="cat-1" class="text-primary focus:ring-0 rounded-sm cursor-pointer"
              [checked]="category.id === selectedCategoryId" (change)="onCategoryCheckboxChange(category.id!)">
            <label for="cat-1" class="text-gray-600 ml-3 cusror-pointer">{{category.name}}</label>
          </div>
          <!-- Categories -->
        </div>
      </div>

      <div class="pt-4">

        <!-- Brands -->
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Brands</h3>
        <div class="space-y-2">
          <div *ngFor="let brand of brands" class="flex items-center">
            <input type="checkbox" name="cat-1" id="cat-1" class="text-primary focus:ring-0 rounded-sm cursor-pointer"
              [checked]="brand.id === selectedAuthorId" (change)="onAuthorCheckboxChange(brand.id!)">
            <label for="cat-1" class="text-gray-600 ml-3 cusror-pointer">{{brand.name}}</label>
            <!-- Brands -->
          </div>
        </div>
      </div>

      <!-- PRICE -->
      <div class="pt-4">
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Price</h3>
        <div class="mt-4 flex items-center">
          <div class="grid grid-cols-12">
            <div class="col-span-12 2xl:col-span-5">
              <input type="number" name="min" [(ngModel)]="minPrice"
                class="w-full border border-black focus:border-primary rounded px-3 py-1 text-gray-600 "
                placeholder="min">
            </div>
            <span class="mx-2 text-gray-500 2xl:col-span-1 text-center">-</span>
            <div class="col-span-12 2xl:col-span-5">
              <input type="number" name="max" [(ngModel)]="maxPrice"
                class="w-full border border-black focus:border-primary rounded  px-3 py-1 text-gray-600 "
                placeholder="max">
            </div>
          </div>
        </div>
        <button (click)="getProductbyAuthorCategory()"
          class="bg-red-400 p-2 mt-2 border border-black hover:bg-blue-800 hover:text-white">Search</button>
      </div>
      <!-- PRICE -->




    </div>
  </div>
  <!-- products -->

  <div class="col-span-4">

    <div class="grid-cols-12">
      <!-- Sorting -->
      <div class="flex items-center mb-4">
        <select name="sort" id="sort"
          class="w-44 text-sm text-gray-600 py-3 px-4 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary"
          [(ngModel)]="selectedSortOption" (change)="sortProducts()">
          <option value="">Default sorting</option>
          <option value="price-low-to-high">Price low to high</option>
          <option value="price-high-to-low">Price high to low</option>
        </select>
      </div>
      <!-- Sorting -->


      <div class="grid xl:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-6">

        <!-- Product -->
        <div *ngFor="let product of products" class="bg-white shadow rounded overflow-hidden group">
          <div class="relative">
            <img [src]="product.imageUrl" alt="product 1" class="w-full">
            <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center
              justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
              <a [routerLink]="['/product', product.id]"
                class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
                title="view product">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>

            </div>
          </div>
          <div class="pt-4 pb-3 px-4">
            <a [routerLink]="['/product', product.id]">
              <h4 class="h-20 overflow-hidden uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition  ">
                {{product.name}}</h4>
            </a>
            <div class="flex items-baseline mb-1 space-x-2">
              <p class="text-xl text-primary font-semibold"> {{product.price}} $</p>
              <p class="text-sm text-gray-400 line-through"> {{product.listPrice}} $</p>
            </div>
            <div class="flex items-center">
              <div class="flex gap-1 text-sm text-red-500">
                <span><i class="fa-solid fa-cart-shopping"></i></span>
              </div>
              <div class="text-sm text-gray-500 ml-3">{{product.buyCount}}</div>
            </div>
          </div>
          <a (click)="CartUpsert(product)"
            class="block w-full py-1 text-center cursor-pointer text-red-500 bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">Add
            to cart</a>
        </div>
        <!-- Product -->



      </div>
    </div>
  <!-- Previous Next -->
    <div class="grid-cols-12 items-center">

      <div class="flex justify-center">
        <button
          class=" bg-red-400 p-1 my-2 border border-black text-sm md:text-base hover:bg-white hover:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400"
          (click)="changePage(page - 1)" [disabled]="page === 1">
          Previous
        </button>

        <ng-container *ngFor="let pages of getPagesArray()">
          <button
            class="p-2 my-2 font-bold text-sm md:text-base hover:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400"
            (click)="changePage(pages)" [disabled]="page === pages">
            {{ pages }}
          </button>
        </ng-container>

        <button
          class=" bg-red-400 p-1 my-2 border border-black text-sm md:text-base hover:bg-white hover:text-red-600  disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400"
          (click)="changePage(page + 1)" [disabled]="page === totalPages ">
          Next
        </button>
      </div>
    </div>

  </div>
  <!-- ./products -->


</div>
<!-- .shop wrapper -->
