 <!-- login -->
 <div class="contain py-16">
  <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
      <h2 class="text-3xl uppercase font-medium mb-1">Login</h2>
      <p class="text-black mb-6 text-base capitalize">
          welcome back customer
      </p>
      <form [formGroup]="logInForm"   (ngSubmit)="logIn()">
          <div class="space-y-2">
              <div>
                  <label for="email" class="text-gray-600 mb-2 block">Email address</label>
                  <input type="email" name="email" id="email"
                      class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                      formControlName="userName"  placeholder="test13213@gmail.com">
              </div>
              <div>
                  <label for="password" class="text-gray-600 mb-2 block">Password</label>
                  <input type="password" name="password" id="password"
                      class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                      formControlName="password"  placeholder="*******">

              </div>
          </div>

          <div class="mt-4">
              <button [disabled]="logInForm.invalid" type="submit"
                  class="block w-full py-2 text-center bg-blue-500 text-white  border  rounded hover:bg-transparent
                  hover:text-blue-500 transition uppercase font-roboto font-medium  disabled:opacity-50 disabled:cursor-not-allowed disabled:border-gray-400">Login</button>
          </div>
      </form>

      <!-- login with -->
      <div class="mt-6 flex justify-center relative">
          <div class="text-gray-600 uppercase px-3 bg-white z-10 relative">Or login with</div>
          <div class="absolute left-0 top-3 w-full border-b-2 border-gray-200"></div>
      </div>


      <p class="mt-4 text-center text-gray-600">Don't have account? <a routerLink="/register"
              class="text-blue-500 font-bold underline">Register
              now</a></p>
  </div>
</div>
<!-- ./login -->

