<div class="grid grid-cols-12">
  <div class="flex-form">
    <form class="size-form" [formGroup]="productForm" novalidate>
      <div class="border-b w-full">
        <h1 class="title-form">
          DETAIL PRODUCT
        </h1>
        <input type="text" formControlName="id" hidden>


        <div *ngFor="let product of detailCategories" class="grid grid-cols-12">
          <span class="input-span">{{product.name}}</span>
          <input type="text" class="form-control input-form" [formControlName]="product.controlName" />
        </div>

        <!-- BUTTON -->
        <div class="flex flex-col xss:flex-row items-center justify-center m-5">

          <div class="p-3  ">
            <button [routerLink]="['/admin', { outlets: { detail: ['productAdmin'] } }]" type="button" class="button-back">
              <span class="mr-2">
                <i class="fas fa-arrow-left hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">Back</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

