<div class="text-end">
  <i class="fa-solid fa-heart text-red-500"></i>
  <i class="fa-solid fa-heart text-red-500 mr-2"></i>
  <span>Hello</span>
  <span [hidden]="!isLoggedInS" class="text-red-700"> {{ fullName }}</span>
  <span [hidden]="isLoggedInS" class="text-red-700">,Good Morning</span>
</div>


<!-- header -->
<header class="py-4 shadow-sm bg-white ">
  <div class="container-fluid grid grid-cols-12">
    <div class="col-span-12 md:col-span-4">
      <a routerLink="/home" >
        <span class="text-red-500 font-bold text-2xl">COMPUTER </span> <span class="text-xl"> SHOP</span>
      </a>
    </div>


    <div class="w-full  relative col-span-6 grid grid-cols-12">
      <span class="absolute left-4 top-3 text-lg text-gray-400">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input type="text" name="search" [(ngModel)]="searchTerm"
        class=" border-2 col-span-10 border-r-0 pl-12 py-3 pr-3 rounded-l-md h-12 "
        placeholder="search">
      <button (click)="onSearchButtonClick()"
        class="col-span-2 border  bg-red-400  px-8 rounded-r-md hover:bg-blue-700  transition  items-center h-12"><i
          class="fa-solid fa-magnifying-glass text-white"></i></button>
    </div>

    <div class="space-x-4 mr-3 col-span-6 md:col-span-2">
      <a routerLink="/cart" class="text-center text-gray-700 hover:text-primary transition relative">
        <div class="text-2xl">
          <i class="fa-solid fa-bag-shopping "></i>
        </div>
        <div class="text-base leading-3">Cart</div>
      </a>
    </div>
  </div>
</header>
<!-- ./header -->

<!-- navbar -->
<nav class="bg-gray-800">
  <div class="container-fluid flex">
    <!-- giải thích
        group lớp đặc biệt trong tailwind, grroup-hover, visiable :Hiện ra-->
    <div class="px-8 py-4 bg-primary md:flex items-center cursor-pointer relative group hidden">
      <span class="text-white">
        <i class="fa-solid fa-bars"></i>
      </span>
      <span class="capitalize ml-2 text-white hidden">All Categories</span>
      <!-- dropdown -->
      <div class="absolute w-52 xl:w-64 left-0 top-full bg-white shadow-md px-5 py-5 divide-y divide-gray-300 divide-dashed opacity-0
                   group-hover:opacity-100 transition duration-300 invisible group-hover:visible">
        <a *ngFor="let category of categories" class="flex items-center  py-4 hover:bg-gray-100 transition"
          [routerLink]="['/shop/category', category.id]">
          <img [src]="category.image" class="w-5 h-5 object-contain">
          <span class="ml-2 text-gray-800 text-base ">{{category.name}}</span>
        </a>

      </div>
    </div>

    <div class="flex items-center justify-between flex-grow md:pl-12 py-5 mr-4">
      <div class="flex items-center space-x-6 capitalize">

        <a [routerLink]="['']" class="text-gray-200 hover:text-white transition">Home</a>
        <a [routerLink]="['/shop/search/', '']" class="text-gray-200 hover:text-white transition">Shop</a>
        <a [routerLink]="['/order']" class="text-gray-200 hover:text-white transition">Order</a>

      </div>
      <div >
        <a *ngIf="role == 'Admin'" routerLink="/admin" class="text-gray-200 hover:text-white transition mr-4">Admin </a>
        <a [hidden]="isLoggedInS " routerLink="/login" class="text-gray-200 hover:text-white transition mr-4">Login</a>
        <a [hidden]="!isLoggedInS" (click)="Logout()"
          class="text-gray-200 hover:text-white transition cursor-pointer">Logout</a>
      </div>

    </div>
  </div>
</nav>
<!-- ./navbar -->

<div class="mx-2  mb-32 overflow-x-auto">
  <router-outlet><task-processing-icon></task-processing-icon></router-outlet>
  <router-outlet name="detail"><task-processing-icon></task-processing-icon></router-outlet>

</div>

<!-- footer -->
<footer class="bg-white pt-7 pb-12 border-t border-gray-100 mx-2">
  <div class="container-fluid grid grid-cols-1 ">
    <div class="col-span-1 space-y-4 mb-5">
      <a routerLink="/home" >
        <span class="text-red-500 font-bold text-2xl">COMPUTER </span> <span class="text-xl"> SHOP</span>
      </a>
      <div class="mr-2">
        <p class="text-gray-500">
          Shop Computer Vip <i class="fa-solid fa-heart fa-xl text-red-600"></i> by Dung Dao
        </p>
      </div>
      <div class="flex space-x-5 ">
        <a *ngFor="let social of socials" href="#" class="text-gray-600 hover:text-gray-500"><i
            [class]="social.class"></i></a>
      </div>
    </div>

    <div class="col-span-2 grid grid-cols-2 gap-4">
      <div class="grid grid-cols-2 gap-4 md:gap-8">
        <div>
          <h3 class="text-lg font-semibold text-gray-700 uppercase tracking-wider">Solutions</h3>
          <div class="mt-4 space-y-4">
            <a *ngFor="let footer of footer1" href="#"
              class="text-base text-gray-500 hover:text-gray-900 block">{{footer.name}}</a>

          </div>
        </div>

        <div>
          <h3 class="text-lg font-semibold text-gray-700 uppercase tracking-wider">Support</h3>
          <div class="mt-4 space-y-4">
            <a *ngFor="let footer of footer2" href="#"
              class="text-base text-gray-500 hover:text-gray-900 block">{{footer.name}}</a>

          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8">
        <div>
          <h3 class="text-lg font-semibold text-gray-700 uppercase tracking-wider">Solutions</h3>
          <div class="mt-4 space-y-4">
            <a *ngFor="let footer of footer1" href="#"
              class="text-base text-gray-500 hover:text-gray-900 block">{{footer.name}}</a>

          </div>
        </div>

        <div>
          <h3 class="text-lg font-semibold text-gray-700 uppercase tracking-wider">Support</h3>
          <div class="mt-4 space-y-4">
            <a *ngFor="let footer of footer2" href="#"
              class="text-base text-gray-500 hover:text-gray-900 block">{{footer.name}}</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ./footer -->

<!-- copyright -->
<div class="bg-gray-800 py-4">
  <div class="container-fluid flex items-center justify-between">
    <p class="text-white">&copy; Dung Dao - All Right Reserved</p>
    <div>
      <img src="assets/images/methods.png" alt="methods" class="h-5">
    </div>
  </div>
</div>
<!-- ./copyright -->
