.mat-dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.toast-success {
  background: linear-gradient(to bottom,#34d399, #6ee7b7)!important;
  color:black !important;
}

.toast-info {
  background: linear-gradient(to top,#22d3ee,#a5f3fc)!important;
  color:black !important;
}

.toast-warning {
  background: linear-gradient(to bottom,#fcd34d,#fef9c3)!important;
  color:black !important;
}

.toast-error {
  background: linear-gradient(to top,#f87171, #dc2626)!important;
  color:white !important;
}

@media (min-width: 768px) {

}
@media (max-width: 768px) {
  .toast-success {
     font-size: 12px !important ;
      width: 80% !important;
      margin: 0 auto !important;
      padding-left:32px !important

    }
  .toast-info {
    font-size: 12px !important ;
    width: 80% !important;
    margin: 0 auto !important;
    padding-left:32px !important
  }
  .toast-warning {
    font-size: 12px !important ;
    width: 80% !important;
    margin: 0 auto !important;
    padding-left:32px !important
  }
  .toast-error {
    font-size: 12px !important ;
    width: 80% !important;
    margin: 0 auto !important;
    padding-left:32px !important
  }

}

@media (max-width: 340px) {
  .toast-success {
     font-size: 9px !important ;
      width: 70% !important;
      margin: 0 auto !important;
      padding:8px !important

    }
  .toast-info {
    font-size: 9px !important ;
    width: 70% !important;
    margin: 0 auto !important;
    padding:8px !important
  }
  .toast-warning {
    font-size: 9px !important ;
    width: 70% !important;
    margin: 0 auto !important;
    padding:8px !important
  }
  .toast-error {
    font-size: 9px !important ;
    width: 70% !important;
    margin: 0 auto !important;
    padding:8px !important
  }



}
