<!-- breadcrumb -->
<div class="container-fluid  py-4 flex items-center gap-3">
  <a href="../index.html" class="text-primary text-base">
    <i class="fa-solid fa-house"></i>
  </a>
  <span class="text-sm text-gray-400">
    <i class="fa-solid fa-chevron-right"></i>
  </span>
  <p class="text-gray-600 font-medium">Cart</p>
</div>
<!-- ./breadcrumb -->

<!-- wrapper -->
<div class="container-fluid grid grid-cols-12 pb-16 pt-4 gap-6">

  <div class="col-span-12 border border-gray-200 p-4 rounded">
    <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase ">Cart Detail Summary</h4>
    <table class="w-full">
      <tr class="grid grid-cols-12">
        <th class="col-span-5">Product Name</th>
        <th class="col-span-2">Count</th>
        <th class="col-span-2">Price</th>
        <th class="col-span-2">Total</th>
      </tr>
      <ng-container *ngIf="cartDetail.length > 0; else noData">
        <tr *ngFor="let cart of cartDetail" class="grid grid-cols-12 mb-2">
          <td class="col-span-5">
            <div class=" inline-flex p-2">
              <img [src]="cart.product!.imageUrl" class="w-8 h-8 md:w-10 md:h-10 mr-3">
              <h5 class="text-gray-800 overflow-hidden">{{cart.product!.name}}</h5>
            </div>
          </td>
          <td class="col-span-2">
            <div class="p-2 flex items-center justify-center">
              <div class="h-8 w-8 text-xl text-center  cursor-pointer border border-black" (click)="decreaseQuantity(cart)">-</div>
              <div>
                <p class="text-gray-600 p-3 text-center">{{cart.count}}</p>
              </div>
              <div class="h-8 w-8 text-xl text-center cursor-pointer  border border-black" (click)="increaseQuantity(cart)">+</div>
            </div>
          </td>
          <td class="col-span-2">
            <div class="p-2">
              <p class="text-gray-800  text-center">{{cart.product!.price!}} $</p>
            </div>
          </td>
          <td class="col-span-2">
            <div class="p-2">
              <p class="text-gray-800  text-center">{{ cart.count! * cart.product!.price! }} $</p>
            </div>
          </td>
          <td class="col-span-1">
            <div class="p-2">
              <a (click)="RemoveCartDetail(cart.cartHeaderId!,cart.cartDetailsId!)" class="fas fa-fw fa-trash mr-2 text-sm text-red-600 cursor-pointer" title="Remove "></a>
            </div>
          </td>
        </tr>
      </ng-container>
  <!-- NO DATA -->
  <ng-template #noData>
    <tr>
      <td colspan="4" class="text-center w-full p-3 text-red-500">No Product in Cart, Please Buy!</td>
    </tr>
  </ng-template>
  <!-- NO DATA -->
    </table>

    <div class="flex justify-between border-b border-gray-200 mt-1 text-gray-800 font-medium py-3 uppercas">
      <p>Shipping </p>
      <p> Free</p>
    </div>

    <div class="flex justify-between text-gray-800 font-medium py-3 uppercas" >
      <p class="font-semibold">Total</p>
      <p>{{total}} $</p>
    </div>

    <div class="grid grid-cols-12">
      <button (click)="CartUpsertBulk()" [disabled]="cartDetail.length == 0" class="button-submit col-span-12 md:col-span-6 md:col-start-4 xl:col-span-4 xl:col-start-5">Place
        order</button>
    </div>

  </div>

</div>
<!-- ./wrapper -->
