<div class=" grid grid-cols-12  ">
  <!--SEARCH -->
  <input id="searchInput" class="search-input" type="text"
    [(ngModel)]="searchQuery" (input)="OnSearchInput()" placeholder="Search Name" />
  <button class="button-search" (click)="SearchProjects()">
    Search
  </button>

</div>


<div class="">

  <div class="grid grid-cols-12  ">
    <button  [routerLink]="['/admin', { outlets: { detail: ['upsertProduct', 0] } }]" class="button-create">
      Add Product
    </button>

  </div>

  <div class="m-2 text-purple-600  text-base sm:text-2xl ">
    List  Product
  </div>
  <div class=" ">
    <table class="w-full table-auto border-separate">
      <!--TABLE HEADER -->
      <thead>
        <tr>
          <th class="th-table md:hidden">
            -
          </th>

          <th *ngFor="let table of tables" class="th-table">
            {{table.name}}
          </th>

          <th class="th-table hidden md:table-cell">
            -
          </th>
        </tr>
      </thead>
      <!--TABLE HEADER -->
      <tbody>
        <!-- BODY TABLE-->
        <ng-container *ngIf="products.length > 0; else noData">
          <tr *ngFor="let product of products">
            <!--CONTENT DETAIL UPDATE DELETE <768PX -->

            <td class="pl-2 border border-slate-400 md:hidden">
              <a  [routerLink]="['/admin', { outlets: { detail: ['detailProduct', product.id] } }]" class="fa fa-eye mr-2 text-sm text-blue-700" title="Detail">
              </a>
              <a  [routerLink]="['/admin', { outlets: { detail: ['upsertProduct', product.id] } }]"
                class="fas fa-fw fa-edit mr-2 text-sm text-blue-700" title="Send Report">
              </a>
              <a class="fas fa-fw fa-trash mr-2 text-sm text-red-600 cursor-pointer" title="Remove product"
                (click)="showModalRemove = true; selectedProduct = product"></a>
            </td>


            <!-- LIST DATA TABLE -->

            <td class="td-table">
              {{ product.name }}
            </td>

            <td class="td-table">
              {{ product.price }}
            </td>
            <td class="td-table">
              {{ product.listPrice }}
            </td>

            <td class="td-table">
              {{ product.authorName }}
            </td>
            <td class="td-table">
              {{ product.categoryName }}
            </td>


            <!--CONTENT DETAIL UPDATE DELETE > 768PX -->

            <td class="pl-2 border border-slate-400 hidden md:table-cell">
              <a [routerLink]="['/admin', { outlets: { detail: ['detailProduct', product.id] } }]" class="fa fa-eye mr-2 text-sm text-blue-700" title="Detail">
              </a>
              <a  [routerLink]="['/admin', { outlets: { detail: ['upsertProduct', product.id] } }]"
                class="fas fa-fw fa-edit mr-2 text-sm text-blue-700" title="Report">
              </a>
              <a class="fas fa-fw fa-trash mr-2 text-sm text-red-600 cursor-pointer" title="Remove product"
                (click)="showModalRemove = true; selectedProduct = product"></a>
            </td>


            <!-- Modal REMOVE -->
            <div *ngIf="showModalRemove" class="fixed inset-0 z-10 flex items-center justify-center bg-opacity-90">
              <div class="bg-white rounded-lg p-6">
                <div class="flex items-center justify-center mb-6">
                  <i class="fa-solid fa-hand text-red-600 text-4xl"></i>
                </div>
                <h3 class="text-sm sm:text-base font-semibold text-gray-900 mb-4">
                  Are you sure Remove *{{ selectedProduct.name }}*
                </h3>
                <div class="flex justify-end">
                  <button (click)="DeleteProduct(selectedProduct.id!)"  type="button" class="button-del-apply">
                    Delete
                  </button>
                  <button (click)="showModalRemove = false" type="button" class="button-del-back">
                    Back
                  </button>
                </div>
              </div>
            </div>


          </tr>
        </ng-container>

        <!-- NO DATA -->
        <ng-template #noData>
          <tr>
            <td colspan="4" class="">No data available</td>
          </tr>
        </ng-template>
        <!-- NO DATA -->

      </tbody>
    </table>


    <!--SHOWING DETAIL PAGE-->
    <div class="text-sm md:text-base0 my-2">
      Showing
      <span class="showing-table">
        {{ recordPerPage }}
      </span>
      records of Page
      <span class="showing-table">
        {{ currentPage }}
      </span>
      in Total
      <span class="showing-table">
        {{ recordsTotal }}
      </span>
      records
    </div>
    <!--SHOWING DETAIL PAGE-->

    <!-- BUTTON SWITCH BUTTON -->
    <button class="prenext-table" (click)="ChangePage(currentPage - 1)" [disabled]="currentPage === 1">
      Previous
    </button>

    <ng-container *ngFor="let page of GetPagesArray()">
      <button class="page-table" (click)="ChangePage(page)" [disabled]="currentPage === page">
        {{ page }}
      </button>
    </ng-container>

    <button class="prenext-table" (click)="ChangePage(currentPage + 1)" [disabled]="currentPage === totalPages">
      Next
    </button>

  </div>
</div>

