<div class="grid grid-cols-12">
  <div class="flex-form">
    <form   enctype="multipart/form-data" (ngSubmit)="idUpdate === null ? CreateAuthor() : UpdateAuthor()"class="size-form" [formGroup]="authorForm" >
      <div class="border-b w-full">
        <h1 class="title-form">
          {{ idUpdate === null ? "CREATE" : "UPDATE" }}
        </h1>

        <input type="text" formControlName="id" hidden>

        <div *ngFor="let author of detailCategories" class="">
          <div class="grid grid-cols-12">
            <span class="input-span">{{author.name}}</span>
            <input [type]="author.type" class="form-control input-form" [formControlName]="author.controlName" />
          </div>

          <div *ngFor="let error of author.error" class="size-small">
            <small  *ngIf=" authorForm.controls[author.controlName].dirty &&authorForm.hasError(error.key, author.controlName)" class="small-error-form">
              {{error.message}}</small>
          </div>
        </div>



        <!-- BUTTON -->
        <div class="flex flex-col xss:flex-row items-center justify-center m-5">

          <div class="p-3">
            <button [disabled]="authorForm.invalid" type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">
                {{ idUpdate === null ? "Create" : "Update" }}</span>
            </button>
          </div>

          <div class="p-3  ">
            <button [routerLink]="['/admin', { outlets: { detail: ['author'] } }]" type="button" class="button-back">
              <span class="mr-2">
                <i class="fas fa-arrow-left hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">Back</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



