<div class="grid grid-cols-12 ">
  <div class=" inline-flex items-center space-x-1 animate-pulse col-span-12 md:col-span-1 md:col-start-2 l:col-start-4 l:col-span-1">
    <span class="animate-rainbow"><i class="fa-solid fa-hand-point-right">Click</i></span>
  </div>
  <button [routerLink]="['/admin', { outlets: { detail: ['category'] } }]"
  class="bg-purple-400 hover:bg-red-400  border-r border-black p-2 col-span-3 md:col-span-2 md:col-start-3 l:col-start-5 l:col-span-1 w-full">
    Category
  </button>
  <button [routerLink]="['/admin', { outlets: { detail: ['author'] } }]"
  class="bg-purple-400 hover:bg-red-400  border-r border-black p-2 col-span-3 md:col-span-2 l:col-span-1  w-full">
    Author
  </button>
  <button  [routerLink]="['/admin', { outlets: { detail: ['productAdmin'] } }]"
   class="bg-purple-400 hover:bg-red-400  border-r border-black p-2 col-span-3 md:col-span-2 l:col-span-1  w-full">
    Product
  </button>
  <button [routerLink]="['/admin', { outlets: { detail: ['user'] } }]"
  class="bg-purple-400 hover:bg-red-400  p-2 col-span-3 md:col-span-2 l:col-span-1  w-full">
    User
  </button>
</div>





