@keyframes rainbow {
  0%, 100% { color: red; }
  14% { color: #d97706; }
  28% { color: #06b6d4; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: #a855f7; }
}
.animate-rainbow {
  animation: rainbow 7s linear infinite;
}
