<div class="grid grid-cols-12">
  <div class="flex-form">
    <form   enctype="multipart/form-data" (ngSubmit)="idUpdate === null ? CreateCategory() : UpdateCategory()"class="size-form" [formGroup]="categoryForm" >
      <div class="border-b w-full">
        <h1 class="title-form">
          {{ idUpdate === null ? "CREATE" : "UPDATE" }}
        </h1>

        <input type="text" formControlName="id" hidden>

        <div *ngFor="let category of detailCategories" class="">
          <div class="grid grid-cols-12">
            <span class="input-span">{{category.name}}</span>
            <input [type]="category.type" class="form-control input-form" [formControlName]="category.controlName" />
          </div>

          <div *ngFor="let error of category.error" class="size-small">
            <p  *ngIf=" categoryForm.controls[category.controlName].dirty &&categoryForm.hasError(error.key, category.controlName)" class="small-error-form">
              {{error.message}}</p>
          </div>
        </div>
        <div class="grid grid-cols-12 h-36" *ngIf="idUpdate">
          <span class="image-span">Image:</span>
          <div class="form-control image-form">
            <img class="w-full h-36 xsm:w-3/4 lg:w-1/2 xsm:h-36" [src]="srcImage">
          </div>

        </div>

        <div class="grid grid-cols-12 mt-4" >
          <span class="input-span">New Image:</span>
          <input class="form-control input-form" type="file" (change)="onFileSelected($event)" accept=".jpg,.png,.gif" >
          <span *ngIf="selectedImage" class="small-error-form col-span-12 "> The old photo will be deleted and replaced with the new photo </span>
        </div>



        <!-- BUTTON -->
        <div class="flex flex-col xss:flex-row items-center justify-center m-5">

          <div class="p-3">
            <button [disabled]="categoryForm.invalid" type="submit" class="button-apply">
              <span class="mr-2">
                <i class="fa fa-plus-square hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">
                {{ idUpdate === null ? "Create" : "Update" }}</span>
            </button>
          </div>

          <div class="p-3  ">
            <button [routerLink]="['/admin', { outlets: { detail: ['category'] } }]" type="button" class="button-back">
              <span class="mr-2">
                <i class="fas fa-arrow-left hidden xs:inline-block"></i>
              </span>
              <span class="text-base0 md:text-base text-center">Back</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


