@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes color-transition {
  0% {
    color: #c084fc;
  }
  50% {
    color: #0ea5e9;
  }
  100% {
    color: #2dd4bf;
  }
}

.custom-color {
  animation:spin 1s linear infinite, color-transition 0.3s linear infinite;
}
