<div *ngIf="isLoading">
  <div class="fixed inset-0 flex items-center justify-center -z-50">
    <div class="inline-flex items-center justify-center p-4 bg-white shadow-lg rounded-lg">
      <!-- Thêm biểu tượng xử lý tại đây -->
      <i class="fas fa-cog fa-spin custom-color  text-4xl"></i>
    </div>
  </div>
</div>
