<!-- wrapper -->
<div class="container-fluid grid grid-cols-12 items-start pb-16 pt-4 gap-6">
  <div class="col-span-12 border border-gray-200 p-4 rounded">

    <h3 class="text-lg font-medium capitalize mb-4">SHIPMENT DETAILS</h3>
    <div class="space-y-4" *ngIf="cartHeader">
      <div class="grid grid-cols-8 gap-4">
        <div class="col-span-2">
          <label for="first-name" class="text-gray-600 2"> Name <span class="text-primary">*</span></label>
        </div>

        <div class="col-span-6">
          <input type="text" class="w-full  border border-gray-300" [(ngModel)]="cartHeader.name">
        </div>
      </div>
      <div class="grid grid-cols-8 gap-4">
        <div class="col-span-2">
          <label for="first-name" class="text-gray-600"> Phone <span class="text-primary">*</span></label>
        </div>

        <div class="col-span-6">
          <input type="text" class="w-full border border-gray-300" [(ngModel)]="cartHeader.phone">
        </div>
      </div>

      <div class="grid grid-cols-8  gap-4">
        <div class="col-span-2">
          <label for="first-name" class="text-gray-600"> Email <span class="text-primary">*</span></label>
        </div>

        <div class="col-span-6">
          <input type="text" class="w-full border border-gray-300" [(ngModel)]="cartHeader.email">
        </div>
      </div>

      <div class="grid grid-cols-8 gap-4">
        <div class="col-span-2">
          <label for="first-name" class="text-gray-600"> Address <span class="text-primary">*</span></label>
        </div>
        <div class="col-span-6">
          <input type="text" class="w-full border border-gray-300" [(ngModel)]="cartHeader.address">
        </div>
      </div>


    </div>

  </div>

  <div class="col-span-12 border border-gray-200 p-4 rounded">
    <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase">order summary</h4>

    <table class="w-full">
      <tr class="grid grid-cols-12">
        <th class="col-span-6">Product Name</th>
        <th class="col-span-2">Count</th>
        <th class="col-span-2">Price</th>
        <th class="col-span-2">Total</th>
      </tr>
      <tr *ngFor="let cart of cartDetail" class="grid grid-cols-12 mb-2">
        <td class="col-span-6">
          <div class=" inline-flex p-2">
            <img [src]="cart.product!.imageUrl" class="w-8 h-8 md:w-10 md:h-10 mr-3">
            <h5 class="text-gray-800 overflow-hidden ">{{cart.product!.name}}</h5>
          </div>
        </td>
        <td class="col-span-2">
          <div class="p-2 flex items-center justify-center">
            <p class="text-gray-600 p-3 text-center">{{cart.count}}</p>
          </div>


        </td>
        <td class="col-span-2">
          <div class="p-2">
            <p class="text-gray-800  text-center">{{cart.product!.price!}} $</p>
          </div>
        </td>
        <td class="col-span-2">
          <div class="p-2">
            <p class="text-gray-800  text-center">{{ cart.count! * cart.product!.price! }} $</p>
          </div>
        </td>
      </tr>
    </table>

    <div class="flex justify-between border-b border-gray-200 mt-1 text-gray-800 font-medium py-3 uppercas">
      <p>Shipping </p>
      <p> Free</p>
    </div>

    <div class="flex justify-between text-gray-800 font-medium py-3 uppercas" *ngIf="cartHeader">
      <p class="font-semibold">Total</p>
      <p>{{total}} $</p>
    </div>

    <div class="grid grid-cols-12">
      <a (click)="CreateOrder()"
      class="button-submit col-span-12 md:col-span-6 md:col-start-4 xl:col-span-4 xl:col-start-5">checkout</a>
    </div>

  </div>


</div>
<!-- ./wrapper -->
