

@media (min-width: 390px) and (max-width: 500px) {

}

@media (min-width: 500px) and (max-width: 740px) {

}

@media (min-width: 740px) and (max-width: 1150px) {



}

@media (min-width: 1150px) and (max-width: 1350px) {


}

@media (min-width: 1350px)  {


}

