<!-- banner -->
<div class="bg-cover bg-no-repeat bg-center py-36" style="background-image: url('assets/images/banner2.jpg');">
  <div class="container-fluid">
      <h1 class="text-5xl text-opacity-75 text-white font-medium mb-4 capitalize">
          best pc gaming <br>  for you
      </h1>
      <div class="mt-12">
          <a [routerLink]="['/shop/search/', '']" class="bg-primary border border-gray-800 text-opacity-90 text-gray-800 px-8 py-3 font-medium
              rounded-md hover:bg-transparent hover:text-primary">Shop Now</a>
      </div>
  </div>
</div>
<!-- ./banner -->

<!-- features -->
<div class="container-fluid py-16">
  <div class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto justify-center">
      <div *ngFor="let feature of features" class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
          <img [src]="feature.image" alt="Delivery" class="w-12 h-12 object-contain">
          <div>
              <h4 class="font-medium capitalize text-lg">{{feature.name}}</h4>
              <p class="text-gray-500 text-sm">{{feature.text}}</p>
          </div>
      </div>

  </div>
</div>

<!-- ./features -->

<!-- ./category -->
<div class="container-fluid py-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">shop by category</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
    <div *ngFor="let category of categories" class="relative rounded-sm overflow-hidden group">
      <img [src]="category.image" [alt]="category.name" class="w-full">
      <a [routerLink]="['/shop/category', category.id]"
        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-2xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">
        {{ category.name }}
      </a>
    </div>
  </div>
</div>
<!-- ./category -->


<!--  best seller -->
<div class="container-fluid pb-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">top best seller</h2>
  <div class="grid grid-cols-2 md:grid-cols-4 2xl:grid-cols-6  gap-6">

      <div *ngFor="let product of productBest" class="bg-white shadow rounded overflow-hidden group">
          <div class="relative">

              <img [src]="product.imageUrl" [alt]="product.name" class="w-full">

              <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center
              justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                  <a [routerLink]="['/product', product.id]"
                      class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
                      title="view product">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </a>
              </div>
          </div>

          <div class="pt-4 pb-3 px-4">
              <a [routerLink]="['/product', product.id]">
                  <h4 class=" h-20 overflow-hidden  uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">
                      {{product.name}}</h4>
              </a>
              <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-semibold">  {{product.price}} $</p>
                  <p class="text-base text-gray-400 line-through">  {{product.listPrice}} $</p>
              </div>
              <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-red-500">
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                  </div>
                  <div class="text-sm text-gray-500 ml-3">  {{product.buyCount}}</div>
              </div>
          </div>
          <a (click)="CartUpsert(product)"
              class="block w-full py-1 text-center text-red-600  cursor-pointer border border-black rounded-b hover:bg-transparent hover:text-blue-600 transition">Add
              to cart</a>
      </div>


  </div>
</div>


<!-- ads -->
<div class="container-fluid pb-16">
  <a href="#">
      <img src="assets/images/offer.jpg" alt="ads" class="w-full">
  </a>
</div>
<!-- ./ads -->

<!-- product recommended -->
<div class="container-fluid pb-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">recommended for you</h2>
  <div class="grid grid-cols-2 md:grid-cols-4 2xl:grid-cols-6 gap-6">
      <div *ngFor="let product of products" class="bg-white shadow rounded overflow-hidden  group">
          <div class="relative">
              <img [src]="product.imageUrl" [alt]="product.name" class="w-full">
              <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center
              justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                  <a [routerLink]="['/product', product.id]"
                      class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
                      title="view product">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </a>

              </div>
          </div>
          <div class="pt-4 pb-3 px-4">
              <a [routerLink]="['/product', product.id]">
                  <h4 class="  h-20 overflow-hidden   uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">
                     {{product.name}}</h4>
              </a>
              <div class="flex items-baseline mb-1 space-x-2">
                  <p class="text-xl text-primary font-semibold">  {{product.price}} $</p>
                  <p class="text-base text-gray-400 line-through">  {{product.listPrice}} $</p>
              </div>
              <div class="flex items-center">
                  <div class="flex gap-1 text-sm text-yellow-400">
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                  </div>
                   <div class="text-sm text-gray-500 ml-3">  {{product.buyCount}}</div>
              </div>
          </div>
          <a (click)="CartUpsert(product)"
          class="block w-full py-1 text-center cursor-pointer text-red-600  border border-black rounded-b hover:bg-transparent hover:text-blue-600 transition">Add
          to cart</a>
      </div>


  </div>
</div>
<!-- ./product -->

