<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1 class="mb-4 text-5xl font-extrabold  text-red-600 dark:text-red-500">Thank you </h1>
      <p class="mb-4 text-3xl  font-bold text-gray-900 md:text-4xl dark:text-white"> We will
        call U soon.</p>

    </div>
  </div>
</section>
